* {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.datatable_books {
    background-color: lightgray;
}
.datatable__button {
    color: #fff;
    background-color: #28a745;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 12px;
    font-size: 12px;
    min-width: 120px;
    line-height: 1.25;
    border-radius: 4px;
}
.grid-container {
    background-color: lightgray;
}