<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS INCLUDE -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <!-- EOF CSS INCLUDE -->
    <style>
        .pagination-centered {
            text-align: center;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        .pointer-disabled {
            pointer-events: none;
        }
    </style>
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="container-fluid" id="books-container">
    <!-- START PAGE SIDEBAR -->
    <!-- commented out     <div th:replace="fragments/header :: header"> </div> -->
    <!-- END PAGE SIDEBAR -->
    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Books Interface
        </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div class="row">
        <table class="table datatable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Show Copies</th>
                <th>Delete Book</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bookslist : ${bookslist}" id="book-row">
                <td th:text="${bookslist.title}">Text ...</td>
                <td th:text="${bookslist.author}">Text ...</td>
                <td><button type="button"
                            class="btn btn-primary btn-condensed">
                    <i class="glyphicon glyphicon-list"></i>
                </button></td>
                <td><button type="button"
                            id="delete-button"
                            class="btn btn-primary btn-condensed"
                            th:attr="book-id=${bookslist.id}"
                            >
                    <i class="glyphicon glyphicon-remove"></i>
                </button></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${bookslist.totalPages != 1}"
                 class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${bookslist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{/books(pageSize=${selectedPageSize}, page=1)}">«</a>
                    </li>
                    <li th:class="${bookslist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{/books(pageSize=${selectedPageSize}, page=${bookslist.number})}">←</a>
                    </li>
                    <li
                            th:class="${bookslist.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink"
                           th:href="@{/books(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li
                            th:class="${bookslist.number + 1 == bookslist.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/books(pageSize=${selectedPageSize}, page=${bookslist.number + 2})}">→</a>
                    </li>
                    <li
                            th:class="${bookslist.number + 1 == bookslist.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/books(pageSize=${selectedPageSize}, page=${bookslist.totalPages})}">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- END PAGE CONTAINER -->
    <div>
        <!--Add Book Form-->
        <form
                class="add_book_form"
                method="POST"
                action="http://localhost:8080/v1/library/createBook2"
                id="book-add-form"
        >
            <fieldset>
                <label>
                    Book title
                </label>
                <input type="text" name="title" placeholder="Insert new book title"/>
            </fieldset>

            <fieldset>
                <label>
                    Book author
                </label>
                <input type="text" name="author" placeholder="Insert new book author"/>
            </fieldset>

            <fieldset>
                <button type="submit" name="book-add-button" class="add__button">Add a book</button>
            </fieldset>
        </form>

    </div>
</div>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        const $booksContainer = $('#books-container');
        changePageAndSize();

        function handleBookSubmitRequest(event) {
            event.preventDefault();

            var bookTitle = $(this).find('[name="title"]').val();
            var bookAuthor = $(this).find('[name="author"]').val();

            var requestUrl = "http://localhost:8080/v1/library/createBook";

            $.ajax({
                url: requestUrl,
                method: 'POST',
                processData: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({
                    title: bookTitle,
                    author: bookAuthor
                }),
                complete: function(data) {
                    if(data.status === 200) {
                        location.reload();
                    }
                }
            });
        }

        function handleDeleteBook() {
            var parentEl = $(this).parents('#book-row');
            var bookId = $(this).attr("book-id");
            var requestUrl = "http://localhost:8080/v1/library/deleteBook";

            $.ajax({
                url: requestUrl + '/?' + $.param({
                    bookId: bookId
                }),
                method: 'DELETE',
                success: function() {
                    parentEl.slideUp(400, function() { parentEl.remove(); });
                }
            })
        }

        $('#book-add-form').on('submit', handleBookSubmitRequest);
        $booksContainer.on('click','#delete-button', handleDeleteBook);
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/books?pageSize=" + this.value + "&page=1");
        });
    }



    /*]]>*/
</script>
</body>
</html>