<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Library interface</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=latin-ext" rel="stylesheet"/>-->

    <link href="css/grid-layout.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/jquery.dataTables.min.css" rel="stylesheet"/>

</head>

<body>
<h2 class="app_title">Library Interface</h2>

<div class="grid-container">
    <div class="datatable_readers datatable_univ" id="data-readers-container">
        <h2 class="datatable_title">Readers List</h2>
        <table class="datatable_row" id="datatable_readers_row">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Books Borrowed</th>
                    <th>Currently borrowed</th>
                    <th>Show borrows</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="datatable_borrowed datatable_univ" id="data-borrowed-container">
        <h2 class="datatable_title">Borrowed Books</h2>
        <table class="datatable_row" id="datatable_borrowed_row">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>
                    <th>Overdue</th>
                    <th>Reader</th>
                    <th>Return</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="datatable_books datatable_univ" id="data-books-container">
        <h2 class="datatable_title">Books</h2>
        <table class="datatable_row" id="datatable_books_row">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Total Copies</th>
                    <th>Copies Available</th>
                    <th>Show Copies</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="datatable_copies datatable_univ" id="data-copies-container">
        <h2 class="datatable_title">Available copies</h2>
        <table class="datatable_row" id="datatable_copies_row">
            <thead>
                <tr>
                    <th>Book Id</th>
                    <th>Status</th>
                    <th>Copy Id</th>
                    <th>Borrow</th>
                </tr>
            </thead>
        </table>

    </div>

</div>


<!--<tr class="templateReaders template" id="data-datatable-readers-template" data-reader-id="0">
    <td id="reader_id"></td>
    <td id="reader_name"></td>
    <td id="reader_surname"></td>
    <td id="reader_total_books"></td>
    <td id="reader_borrowed_books"><button type="button" id="show-borrowed-books" class="datatable__button">Show Borrows</button></td>
</tr>-->
<!--<div class="templateReaders template" id="data-datatable-readers-template">
    <table data-reader-id="0">
        <tr >
            <td id="reader_id"></td>
            <td id="reader_name"></td>
            <td id="reader_surname"></td>
            <td id="reader_total_books"></td>
            <td id="reader_borrowed_books"><button type="button" id="show-borrowed-books" class="datatable__button">Show Borrows</button></td>
        </tr>
    </table>
</div>-->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>